node_modules/
.expo/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store

# Environment Config File
src/config/config.env.js

*/node_modules/**/*
.runtimeconfig.json